@import "colors";
@import "compass/css3";
// Reference settings.scss for all the options
// Foundation has to offer!


$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

// We use these to define default font stuff
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Main site options. Make changes here and they'll change sitewide.
.inline-bl {
  display: inline-block;
  margin:0;
}

span.label {
  margin-bottom: 10px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

.fa-tag {
  background-color: $sun-flower;
  display: inline-table;
}

.post {
  background-color: $clouds;
  margin-bottom: 15px;
  padding: 25px;
  -moz-box-shadow: 8px 9px 1px -4px rgba(0,0,0,0.24);
  box-shadow: 8px 9px 1px -4px rgba(0,0,0,0.24);
}

.post-meta {
  margin:0;
}

#tag {
  margin-left:5px;
}