<header class="site-header">
  <div class="wrapper">
    <div class="sticky">
      <nav class="top-bar" data-topbar>

        <ul class="title-area">
            <li class="name">
              <h1><a href="{{ root_url }}/">{{ site.title }} <i class="fa fa-code"></i></i></i></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>


        <section class="top-bar-section">
          <ul class="main-navigation right">
              <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/">Home</a></li>
              <li{% if page.url == '/about' %} class="active"{% endif %}><a href="{{ root_url }}/about">About</a></li>
              <li{% if page.url == '/contact' %} class="active"{% endif %}><a href="{{ root_url }}/contact">Contact</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</header>
