nav.top-bar.title-area lis.name {
  margin-left: 15px;
}

li.menu.toggle-topbar.menu-icon.waves-effect.waves-light.waves-block {
  height: 90%;
  padding-top: 3px;
  margin:0;
  top: 5%;
}

a.waves-effect.waves-light.waves-button {
  color:$white;
  text-align:left;
  margin-top: -1px;
  margin-left: 0;
}
