<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html>

  {% include head.html %}

  <body class="body">

    {% include header.html %}

    <div class="row main full-width">
      <div class="small-12 medium-12 large-9 content columns">
        {{ content }}
      </div>

      <div class="small-12 medium-12 large-3 aside columns">
        {% include asides/github.html %}
      </div>
    </div>

    {% include footer.html %}
    {% javascript vendor %}
    {% include scripts/document_ready.html %}
  </body>

</html>
