---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      <i class="fa fa-tag waves-effect waves-circle"></i>
        <ul class="inline-bl tag-container" id="tag">
          {% for category in page.categories %}
          <li class="inline-bl">
            <span class="wave-effect waves-light label">{{ category }}</span>
          </li>
          {% endfor %}
        </ul>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  {% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
  {% endif %}
</div>
