---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="inline-bl"><i class="fa fa-tag"></i>
      <ul class="inline-bl">
        {% for category in page.categories %}
        <li class="inline-bl">
          <span class="label">{{ category }}</span>
        </li>
        {% endfor %}
      </ul>
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</div>
