.body {
  background-image: url(asset_path('noise-pink.png'));
}

.main {
  background-image: url(asset_path('noise-grey.png'));
  padding: 1.5rem 0rem 1rem 0.2rem;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

ul.no-bullet li ul.tag-container {
  margin-left: 5px;
}

.aside {
  background-color: $clouds;
  padding: 25px;
  margin-right: -5px;
  -webkit-box-shadow: 8px 9px 1px -4px rgba(0,0,0,0.24);
  -moz-box-shadow: 8px 9px 1px -4px rgba(0,0,0,0.24);
  box-shadow: 8px 9px 1px -4px rgba(0,0,0,0.24);
}
