---
layout: default
---
<ul class="no-bullet">
  {% for post in site.posts %}
    <li class="small-12 medium-12 large-12 post">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
        <i class="fa fa-tag waves-effect waves-circle"></i>
        <ul class="inline-bl tag-container">
          {% for category in post.categories %}
            <li class="inline-bl">
              <span class="waves-effect waves-light label">{{ category }}</span>
            </li>
          {% endfor %}
        </ul>
        <div class="post-content text-justify">{{ post.content }}</div>
    </li>
  {% endfor %}
</ul>
